<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Les capteurs sont toujours connectés aux ports `.one`, `.two`, `.three` ou `.four`.
			
Assure-toi que le numéro que tu as défini dans ton programme correspond à celui du port auquel ton moteur est connecté.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
