<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Es gibt verschiedene Methoden, mit der du die Schildkröte dazu bringst, sich zu drehen. Eine Methode ist es, ein Bein zu bewegen und das andere stillzuhalten.
</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
