<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Bevor du Änderungen an einem Programm vornimmst, in dem du ein Problem beheben möchtest, bestätige, dass die Portwerte deines Programms den Ports entsprechen, an die die Motoren und Sensoren angeschlossen sind. 
</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
