<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>“ツール”メニューの`Take Picture`（画像を撮る）関数を使用して、カメの動きに対応するグラフを取り込んでください。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
