<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>测试原型时，请始终保持同一起点，并始终将物体放在同一位置，即乌龟前方 40 厘米处。
</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
