<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>La fonction `motorOn` sert à activer un moteur à la fois. La fonction `move` sert à activer deux moteurs à la fois.
</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
