<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>在对要调试的程序进行更改前，先验证一下程序的端口值是否与电机和传感器所连接的端口一致。
</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
