<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Esta es una lista de los valores de sonido que puedes usar para el parámetro `file`:

`.hello`

`.goodbye`

`.fanfare`

`.errorAlarm`

`.start`

`.stop`

`.object`

`.ouch`

`.blip`

`.arm`

`.snap`

`.laser`
			</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Recuerda estos elementos importantes:

**Función:** un conjunto con nombre de comandos que se pueden ejecutar cuando sea necesario.

**Parámetros:** características de una función que se pueden modificar para cambiar el comportamiento de la misma.

**Valor:** un número o cadena que se pasa a una función mediante los parámetros.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
