<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Asegúrate de que no haya ningún objeto, como un cable, libro o iPad, frente al sensor cuando toques *“Ejecutar mi código”*, ya que eso activaría inmediatamente el comando `waitForUltrasonicCentimeters`.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
