<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Recuerda que el intervalo de valores de entrada de `withPower` es de `-100.0` a `100.0`. Por lo tanto, si el valor aleatorio almacenado como variable de potencia es positivo, el motor girará en una dirección. Si el valor es negativo, el motor girará en la dirección contraria.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
