<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>There are many ways to solve this task.
One way is to write the `detectObject` function three times followed by the `playSound` function. 
Another way is to use a `while` loop.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>The use of the `while` loop is covered in the *Learn to Code 1* book. Please refer to this book for more help.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
