<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>センサーは常にポート`.one`、`.two`、`.three`、または`.four`に接続されます。
			
プログラムで定義した番号が、モーターが接続されているポートの番号と一致していることを確認してください。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
