<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Antes de realizar cualquier cambio en un programa que estés intentando depurar, verifica que los valores de puerto de tu programa coincidan con los puertos en donde están conectados los motores y sensores.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
