<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Le capteur à ultrasons ne détecte pas la forme ou le type des objets. Il détecte la distance le séparant d’un objet placé devant lui. 
</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
