<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>“images”参数可用的值如下：

`.neutral`

![.neutral](EV3-images-01.png)

`.pinchRight`

![.pinchRight](EV3-images-02.png)

`.awake`

![.awake](EV3-images-03.png)

`.hurt`

![.hurt](EV3-images-04.png)

`.accept`

![.accept](EV3-images-05.png)

`.decline`

![.decline](EV3-images-12.png)

`.questionMark`

![.questionMark](EV3-images-06.png)

`.warning`

![.warning](EV3-images-07.png)

`.stop`

![.stop](EV3-images-08.png)

`.pirate`

![.pirate](EV3-images-09.png)

`.boom`

![.boom](EV3-images-10.png) 

`.ev3Icon`

![.ev3Icon](EV3-images-11.png)
</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>程序流是指代码行执行的顺序和速度。在此示例中，指一行代码在上一行代码操作完成后才执行。</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
